body {
  font-family: "Sriracha", cursive;
  background-color: snow;
}

.container {
  height: 500px;
  width: 1000px;
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  background: lightsteelblue;
  padding: 20px;
}
.title {
  padding-top: 10px;
  text-align: center;
  font-size: 36px;
  text-transform: uppercase;
  color: #08038c;
  margin-top: 30px;
}

.question {
  width: 900px;
  height: 55px;
  margin: 0 auto;
  font-size: 25px;
  background: whitesmoke;
  border-radius: 20px;
  color: #000000;
  text-align: center;
  margin-top: 25px;
}
.option {
  margin-top: 30px;
  width: 400px;
  display: inline-table;
  height: 30px;
  padding: 10px;
  margin-left: 50px;
  background-color: white;
  border-radius: 35px;
}

.option:hover {
  background: slategray;
  color: #f6f6f6;
}
.next-btn {
  border: none;
  outline: none;
  background: whitesmoke;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin: 20px;
}
.next-btn:hover {
  background: #08038c;
  color: #f6f6f6;
}

.result {
  height: 75px;
  text-align: center;
  font-size: 50px;
}
.option input:checked .option {
  background: #08038c;
  color: #000000;
}

.next-btn {
  border: none;
  outline: none;
  background: whitesmoke;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  cursor: pointer;
  float: right;
  margin: 20px;
}
.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}
